.root {
    /* kleur variable */
    -color-licht:   #ffffff;
    -color-schaduw: #cccccc;
    -color-donker:  #191918;

    /* font variable */
    -font-heading:  "Verdana";
    -font-body:     "Lato";

    /* standaard font waarden */
    -fx-font-family: "Lato";
    -fx-font-size: 16px;
    -fx-text-fill: -color-donker;
}

/* ──────────────────────────────────────────────
   TEKST
   ────────────────────────────────────────────── */
/* H1 – Verdana Bold 48px */
.h1 {
    -fx-font-family: "Verdana";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-donker;
}

/* H2 – Verdana 36px */
.h2 {
    -fx-font-family: "Verdana";
    -fx-font-size: 18px;
    -fx-font-weight: normal;
    -fx-text-fill: -color-donker;
}

/* H3 – Lato 32px */
.h3 {
    -fx-font-family: "Lato";
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-text-fill: -color-donker;
}

/* ──────────────────────────────────────────────
   Elementen
   ────────────────────────────────────────────── */
.dropdown {
    -fx-text-fill: -color-donker;
    -fx-prompt-text-fill: -color-donker;
    -fx-background-color: -color-licht;
    -fx-border-color: -color-schaduw;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.dropdown .arrow {
    -fx-shape: "M 0 0 L 4 4 L 8 0";
    -fx-background-color: null;
    -fx-border-color: -color-schaduw;
}

.dropdown .context-menu {
    -fx-background-color: -color-licht;
    -fx-border-color: -color-schaduw;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-effect: none;
    -fx-padding: 0;
}

.dropdown .menu-item .label {
    -fx-text-fill: -color-donker;
}

.dropdown .menu-item:focused {
    -fx-background-color: -color-schaduw;
}

.dropdown .menu-item:focused .label {
    -fx-text-fill: -color-donker;
}

/* Remove checkmark */
.dropdown .radio-menu-item .radio {
    -fx-shape: null;
}

.dropdown .radio-menu-item {
    -fx-padding: 8 12 8 -16;
}

.icon, .btn, .txtfield,
.alert .button-bar .button {
    -fx-background-color: -color-licht;
    -fx-border-color: -color-schaduw;
    -fx-padding: 8px;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}

.txtfield {
    -fx-padding: 4px 16px;
}

.icon:hover, .btn:hover,
.alert .button-bar .button:hover {
    -fx-background-color: -color-schaduw;
    -fx-text-fill: -color-licht;
}

.icon:pressed, .btn:pressed,
.alert .button-bar .button:pressed {
    -fx-background-color: -color-donker;
    -fx-border-color: -color-donker;
    -fx-text-fill: -color-licht;
}

.tag {
    -fx-padding: 4px 8px;
    -fx-border-radius: 100;
    -fx-background-radius: 100;
}